{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-head">

    <h2 class="header"> {{the_title}} </h2>

    {{ wtf.quick_form(form) }}

</div>
{% if pairs is none %}
<div class="container-head alert alert-warning">
    Please enter the correct url or try with a different url
</div>
{% elif pairs is defined and pairs|length == 0 %}
<div class="container-head alert alert-warning">
    Unable to parse content of this url. Please try with a different url
</div>
{% else %}
{% if query_url is defined %}
<div class="container-head alert alert-info">
    URL for your query: 
    <a target="_blank" href="{{ query_url }}">{{ query_url }}</a>
</div>
{% endif %}

{% for pair in pairs %}

<div class="container-article">
    <a target="_blank" href="{{ pair["link"] }}">{{ pair["title"] }}</a>
    <p>{{ pair["summary"] }}</p>
</div>
{% endfor %}

{% endif %}


{% endblock %}